header.CTA_header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: #357DED;
}

.CTA_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86.11%;
}

.CTA_header_navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}