* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.small {
    font-size: 14px;
}

.poppins_bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    margin-top: 100px;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
}